@{
    ViewBag.Title = "Home Page";
}

<form data-bind="submit: saveGames">
   <table>
      <thead>
         <tr>
            <th style="width: 200px">Title</th>
            <th style="width: 450px">Description</th>
            <th style="width: 100px">Avg Stars</th>
         </tr>
      </thead>
      <tbody data-bind="foreach: games">
         <tr>
            <td data-bind="text: Title" style="vertical-align: top"></td>
            <td ><textarea data-bind='value: Description' rows='5' cols='60'> </textarea></td>
            <td data-bind="text: AvgStars" style="text-align: center"></td>
         </tr>
      </tbody>
   </table>
   <button type="submit">Save</button>
</form>

<script type="text/javascript">
    $(function () {
        $.getJSON("/Home/GetGames", function (data) {
            domain.homepage.init(data);
        });
    });

    var domain = domain || {};
    domain.homepage = (function () {

        var viewmodel;

        function Game(data) {
            var self = this;
            self.Id = ko.observable(data.Id);
            self.Title = ko.observable(data.Title);
            self.Description = ko.observable(data.Description);
            self.Votes = ko.observable(data.TotalVotes);
            self.Stars = ko.observable(data.TotalStars);
            self.AvgStars = ko.computed(function () {
                return Math.floor(self.Stars() / self.Votes());
            });
        }

        function games() {
            var self = this;
            self.games = ko.observableArray();
            self.load = function (data) {
                _.each(data, function (x) {
                    self.games.push(new Game(x));
                });
            };

            self.saveGames = function () {
                var xx = ko.toJSON(self.games());
                $.post("/Home/SaveGames", { games: ko.toJSON(self.games()) }, function (returnedData) {
                    alert('Saved');
                });
            };
        }

        return {
            init: function (jsondata) {
                viewmodel = new games();
                ko.applyBindings(viewmodel);
                viewmodel.load(jsondata);
            }
        };
    })();

</script>
